<section data-ng-controller="OfferingsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Offering</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="offering.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
				
				<div class="form-group">
                    <label class="control-label" for="price">Price</label>
                    <div class="controls">
                        <input type="number" data-ng-model="offering.price" id="price" class="form-control" placeholder="Price"required>
                    </div>
                </div>
				
                <div class="form-group">
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <textarea data-ng-model="offering.description" id="description" class="form-control" placeholder="Description" required rows="5"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Update listing" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>

<div class="form-group" ng-include="'/modules/core/views/modal-upload.client.view.html'"></div>

    <div >
        <img ng-show="offering.offering_pic.src" data-ng-src="{{offering.offering_pic.src}}" style="max-width:500px"/>
        <img ng-hide="offering.offering_pic.src" src="/modules/users/img/stunned.jpg" >
    </div><br>

</section>



