<section data-ng-controller="OfferingsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="offering.name"></h1>
	</div>

	<div class="list-group">

		<div class="list-group-item">

		<!-- This produces the buttons for editing the offering, given correct authentication status. -->
		<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == offering.user._id))">
			<div ng-show="offering.offering_pic.src">
				<img data-ng-src="{{offering.offering_pic.src}}" />
			</div><br>
			
			<a class="btn btn-primary" href="/#!/offerings/{{offering._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>

		<!-- This produces the button for a user to indicate interest in the offer. -->
		<div class="pull-right" data-ng-show="((authentication.user) && !(authentication.user._id == offering.user._id) && !foundInterested && !foundRater)">
			<a class="btn btn-primary" ng-click="addInterested()">I'm interested! &nbsp
				<i class="glyphicon glyphicon-plus"></i>
			</a>
		</div>

		<!-- This produces the icon to confirm registration of the user's interest in the offer. -->
		<div class="pull-right" data-ng-show="((authentication.user) && !(authentication.user._id == offering.user._id) && foundInterested)">
			<a class="btn btn-primary" onClick="javascript:history.go(-1);">Your interest is registered &nbsp
				<i class="glyphicon glyphicon-ok"></i>
			</a>
		</div>

		<!-- This produces the icon to prompt the user to rate the offering. -->
		<div class="pull-right" data-ng-show="((authentication.user) && !(authentication.user._id == offering.user._id) && foundRater)">
			<a class="btn btn-primary" href="/#!/offerings/{{offering._id}}/rate">Rate it! &nbsp
				<i class="glyphicon glyphicon-star-empty"></i>
			</a>
		</div>
	
		<h4 class="list-group-item-heading">${{offering.price}}</h3>
		<p data-ng-bind="offering.description"></p>

		<small class="list-group-item-text">
			<em class="text-muted">
				Posted on
				<span data-ng-bind="offering.created | date:'mediumDate'"></span>
				by
				<span><a class='userprofilelink' href='/#!/users/profile/{{offering.user._id}}'>{{offering.user.displayName}}</a></span>
			</em>
		</small>
		</div>
	</div>
	<br>
	<!-- This produces the list of users who have indicated interest in the offer. -->
	<div class="btn-group-vertical pull-right" data-ng-show="((authentication.user) && (authentication.user._id == offering.user._id))" >
        <a class="btn btn-primary" data-ng-repeat="user in offering.interested" ng-click="acceptOffer({{$index}})">Accept offer from: &nbsp<span data-ng-bind="user.displayName"></span> &nbsp
			<i class="glyphicon glyphicon-saved"></i>
		</a>
	</div>
	
	<!-- List comments of the offering. -->
	<h1>Comments:</h1>

		<div class="list-group">
			<div class="list-group-item" ng-repeat="Com in offering.rating.comments" data-ng-href="#!/ratings/{{Com._id}}">
				
				<div star-offering rating-value="Com.rating" data-max="5"></div>
				<p>{{Com.comment}}</p>
				
				<small>
				<em class="text-muted">
					Posted on
					<span data-ng-bind="Com.created | date:'mediumDate'"></span>
					by
					<span><a class='userprofilelink' href='/#!/users/profile/{{Com.user._id}}'>{{Com.user.displayName}}</a></span>
				</em>
				</small>
			
			</div>
		</div>
		
</section>