
<section data-ng-controller="HomeController">
	

	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<!--<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" /> -->
			</div>
		</div>
		<br>

		<div class="row">
			<p class="lead">
				<h1> Fishing For Friends! </h1>
			</p>
		</div>
		<div class="row">
			<!--
			<p>
				<a class="btn btn-primary btn-lg" href="http://meanjs.org" target="_blank">Learn more</a>
			</p>
			-->
		</div>
	</div>

  <!-- addin for carousel display of rotating pictures starts here-->
  <!-- Needed libraries loaded by layout.server.view.html -->
  
  
  <style>

  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
  </style>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="modules/core/img/carousel/northernpikefishing.JPG" alt="northernpikefishing.JPG" width="460" height="345">
      <div class="carousel-caption">
        mr. pike fisherman
      </div>
    </div>

     <div class="item">
        <img src="modules/core/img/carousel/fishing on boat.jpg" alt="fishing on a boat" width="460" height="345">
	      <div class="carousel-caption">
	        casting from the boat
	      </div>
      </div>
    
      <div class="item">
        <img src="modules/core/img/carousel/Northern-Pike-Fishing.jpg" alt="northern pike fishing" width="460" height="345">
      	
      	<div class="carousel-caption">
	        I caught a big one!
	     </div>

      </div>

      <div class="item">
        <img src="modules/core/img/carousel/dangers.jpg" alt="ice fishing for a truck" max-width="460" height="345">
      	
      	<div class="carousel-caption">
	        I caught a Ford!
	    </div>
		
      </div>
		
		<div class="item">
	        <img src="modules/core/img/carousel/people_fishing_latirs.jpg" alt="fishing from shore" max-width="460" max-height="345">
	      	
	      	<div class="carousel-caption">
		        Fishing from Shore.
		    </div>

		</div>
		
		<div class="item">
	        <img src="modules/core/img/carousel/downtown_fisherman.jpeg" alt="fishing by the tower" max-width="460" max-height="345">
	      	
	      	<div class="carousel-caption">
		        Fishing in TO
		    </div>

		</div>
		
     </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<section data-ng-controller="SettingsController" data-ng-init="getRecommendations()" data-ng-show="authentication.user">
	<div class="page-header">
        <h1>Recommended Offerings</h1>	
	</div>
	<div class="list-group">
		<a class="list-group-item" data-ng-repeat="offering in offerings" data-ng-href="#!/offerings/{{offering._id}}">
			<h2 class="list-group-item-heading" data-ng-bind="offering.name"></h3>
			<h4 class="list-group-item-heading">Price: ${{offering.price}}</h4>
			<h5 class="list-group-item-heading">Rating:
				<span class="star-rating" star-rating rating-value="offering.rating.score" data-max="5"></span>
				({{offering.rating.comments.length}} Comments)
			</h4>
            <p data-ng-bind="offering.description"></p>
			
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="offering.created | date:'medium'"></span>
				by
				<span data-ng-bind="offering.user.displayName"></span>
			</small>
        </a>
    </div>
	<div class="page-header">
        <h1>Recommended Messageboards</h1>	
	</div>
	<div class="list-group">
        <a class="list-group-item" data-ng-repeat="messageboard in posts" data-ng-href="#!/messageboards/{{messageboard._id}}">
			
			<div class="list-group-item-text">
				Posted on
				<span data-ng-bind="messageboard.created | date:'medium'"></span>
				by
				<span data-ng-bind="messageboard.user.displayName"></span>
			</div>
			<div class='topic-box'>
				<h4 class="list-group-item-heading" data-ng-bind="messageboard.name"></h4>
				<p class="list-group-item-heading" data-ng-bind="messageboard.message"></p>
			</div>
        </a>
    </div>
</section>
<!-- addin for carousel display of rotating pictures ends here-->
<!--
	<div>
		<h2>Congrats! You've configured and run the sample application.</h2>
		<p>MEAN.JS is a web application boilerplate, which means you should start changing everything :-)</p>
		<p>This sample application tracks users and articles.</p>
		<ul>
			<li>
				Click
				<em>Signup</em>
				to get started.
			</li>
			<li>
				Configure your app to work with your social accounts, by editing the
				<em>/config/env/*.js</em>
				files.
			</li>
			<li>
				Edit your users module.
			</li>
			<li>
				Add new CRUD modules.
			</li>
			<li>
				Have fun...
			</li>
		</ul>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>M</strong>ongoDB
			</h2>
			<p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>E</strong>xpress
			</h2>
			<p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>A</strong>ngularJS
			</h2>
			<p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>N</strong>ode.js
			</h2>
			<p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
		</div>
	</div>
	<div class="well">
		<h2>MEAN.JS Documentation</h2>
		<p>
			Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
			<ul>
				<li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
				</li>
				<li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
				</li>
			</ul>
		</p>
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>The MEAN.JS Team.
-->
</section>

