
<section data-ng-controller="HomeController">

	<div class="jumbotron text-center ">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12"> 
				<!-- <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/fishing_logo.png" /> -->
			</div>
		</div>
		<div class="row mainheader">
			<div class="page-header mainheader">
				<h1>Fishing4Friends<h1>
					<p>Connecting people to the great outdoors</p>
			</div>
		</div>
	</div>

  <!-- addin for carousel display of rotating pictures starts here-->
  <!-- Needed libraries loaded by layout.server.view.html -->
  

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators" ng-hide='authentication.user'>
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
    <li data-target="#carousel-example-generic" data-slide-to="5"></li>
    <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    <li data-target="#carousel-example-generic" data-slide-to="7"></li>
    <li data-target="#carousel-example-generic" data-slide-to="8"></li>
    <li data-target="#carousel-example-generic" data-slide-to="9"></li>
    <li data-target="#carousel-example-generic" data-slide-to="10"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" ng-hide='authentication.user'>	
	<div class="item active">
      <img src="modules/core/img/carousel/people_fishing_latirs.jpg" alt="Fishing From Shore" width="460" height="345">
      <div class="carousel-caption">
        Fishing From Shore.
      </div>
    </div>

      <div class="item">
        <img src="modules/core/img/carousel/Algonquin.jpg" alt="Algonquin" width="460" height="345">
	      <div class="carousel-caption">
	        Calm day, Algonquin, ON.
	      </div>
      </div>


     <div class="item">
        <img src="modules/core/img/carousel/fishing on boat.jpg" alt="fishing on a boat" width="460" height="345">
	      <div class="carousel-caption">
	        Casting from the Boat.
	      </div>
      </div>
    
     <div class="item">
        <img src="modules/core/img/carousel/boy_caught_fish.jpg" alt="first fish" width="460" height="345">
	      <div class="carousel-caption">
	        First Fish.
	      </div>
      </div>

 	<div class="item">
        <img src="modules/core/img/carousel/Northern-Pike-Fishing.jpg" alt="northern pike fishing" width="460" height="345">
      	
      	<div class="carousel-caption">
	        I caught a big one!
	     </div>

      </div>

      <div class="item">
        <img src="modules/core/img/carousel/Center_Island_Common_Carp.jpg" alt="Center Island Common Carp" width="460" height="345">
      	
      	<div class="carousel-caption">
	        Center Island Common Carp Catch.
	     </div>

      </div>

      <div class="item">
        <img src="modules/core/img/carousel/dangers.jpg" alt="ice fishing for a truck" max-width="460" height="345">
      	
      	<div class="carousel-caption">
	        I caught a Ford!
	    </div>
		
      </div>
		
		<div class="item">
	        <img src="modules/core/img/carousel/northernpikefishing.JPG" alt="Proud of his Catch" max-width="460" max-height="345">
	      	
	      	<div class="carousel-caption">
		        Proud of his Catch.
		    </div>

		</div>
		
		<div class="item">
	        <img src="modules/core/img/carousel/flat_water.jpg" alt="Calm day on the water" width="460" height="345">
		      <div class="carousel-caption">
		        Calm Day on the Water
		      </div>
      </div>

      <div class="item">
	        <img src="modules/core/img/carousel/downtown_fisherman.jpeg" alt="fishing by the tower" max-width="460" max-height="300">
	      	
	      	<div class="carousel-caption">
		        Fishing in Toronto.
		    </div>
		</div>
		

		<div class="item">
	        <img src="modules/core/img/carousel/fishing-in-toronto-and-gta.jpeg" alt="fishing in Toronto GTA" max-width="460" max-height="300">
	      	
	      	<div class="carousel-caption">
		        Fishing in Toronto.
		    </div>
		</div>

     </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" ng-hide='authentication.user'>
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"ng-hide='authentication.user'>
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>		
<!-- addin for carousel display of rotating pictures ends here-->
  
<section data-ng-controller="SettingsController" data-ng-init="getRecommendations()" data-ng-show="authentication.user">
	<div class="page-header">
        <h1>Recommended Offerings</h1>	
	</div>
	<div class="list-group">
		<a class="list-group-item" data-ng-repeat="offering in offerings" data-ng-href="#!/offerings/{{offering._id}}">

			    <div >
			        <img class="pull-right thumbnail" style="max-height:120px" ng-show="offering.offering_pic.src" 
			        data-ng-src="{{offering.offering_pic.src}}" />
			    </div>
		
			<h2 class="list-group-item-heading" data-ng-bind="offering.name"></h3>
			<h4 class="list-group-item-heading">Price: ${{offering.price}}</h4>
			<h5 class="list-group-item-heading">Rating:
				<span class="star-rating" star-rating rating-value="offering.rating.score" data-max="5"></span>
				({{offering.rating.comments.length}} Comments)
			</h4>
            <p data-ng-bind="offering.description"></p>
			
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="offering.created | date:'medium'"></span>
				by
				<span data-ng-bind="offering.user"></span>
			</small>
        </a>
    </div>
	<div class="page-header">
        <h1>Recommended Messageboards</h1>	
	</div>
	<div class="list-group">
        <a class="list-group-item" data-ng-repeat="messageboard in posts" data-ng-href="#!/messageboards/{{messageboard._id}}">
			
			<div class="list-group-item-text">
				Posted on
				<span data-ng-bind="messageboard.created | date:'medium'"></span>
				by
				<span data-ng-bind="messageboard.user.displayName"></span>
			</div>
			<div class='topic-box'>
				<h4 class="list-group-item-heading" data-ng-bind="messageboard.name"></h4>
				<p class="list-group-item-heading" data-ng-bind="messageboard.message"></p>
			</div>
        </a>
    </div>
</section>
</section>
<section class='footer pull-right'>
<center><img src="modules/core/img/brand/catfish.jpg" width=100 height=50></img></center>
</section>
