<section data-ng-controller="MessageboardsController" data-ng-init="find()">
	
    <div class="page-header">
        <div class='heading'><center>Messageboards</center></div>
		<center>Forge friendships. Organize fishing Trips. Find great deals on gears and equipments. BNBR rule applies.</center>
    </div>
    <div class="list-group messageboardpanel">
        <a class="list-group-item" data-ng-repeat="messageboard in messageboards | orderBy:created:reverse" data-ng-href="#!/messageboards/{{messageboard._id}}" style='background-color:#A9D0F5;border:solid;border-width:1px;border-color:black;margin-bottom:0.5%' >
			
			<div class="list-group-item-text">
				Posted on
				<span data-ng-bind="messageboard.created | date:'medium'"></span>
				by
				<span data-ng-bind="messageboard.user.displayName"></span>
			</div>
			<div class='topic-box'>
				<h4 class="list-group-item-heading" data-ng-bind="messageboard.name"></h4>
				<p class="list-group-item-heading" data-ng-bind="messageboard.message"></p>
			</div>
        </a>
    </div>

</section>