.messageboard{
	margin:0.5%;
	color:#084B8A;
	border-width:2px;
	background-color:#CEE3F6;
	margin-bottom:0;
}
.heading{
	font-size:30px;
	font-family: "Times New Roman", Georgia, Serif;
	font-weight:bold;
	color:#084B8A;
}