
.one{
	margin-top:2%;
	width:45%;
}  
.msgheader{
	color:#01DFD7;
}
.msgreceived{
	padding:5px;
}
.msgsent{
	padding:5px;
}
.replymsg{
		background-color:#E0F8F1;
		padding:5px;
}
.two{
	margin-top:2%;
	width:45%;
	text-align:right;
}  