<section data-ng-controller="SettingsController" data-ng-init='findOne()'>
	<div class="page-header">
		<h1 data-ng-bind="other.username"></h1>
		<div><span data-ng-bind="other.displayName"></span><br>
			<span>Contact: {{other.email}}</span>
			<div class="row">
				<div class="col-xs-6 col-md-3">
					<a href="#" class="thumbnail">
						 <img ng-show="other.profile_pic.src" ng-src="{{other.profile_pic.src}}" />
					</a>
				</div>
      		        <!-- If the user has not uploaded a profile pic, display the alternate: -->
					<span class="empty" ng-show="!other.profile_pic.src"><img src="/modules/users/img/stunned.jpg" alt="nice pic here"></span>
 				</div>
				     <a class="btn btn-primary" title='add as friend' href="/#!/users/friends/{{user._id}}/add">
						<i class="glyphicon glyphicon-user"></i>
					</a>
					 <a class="btn btn-primary" title='send them a nice message' href="/#!/messages/{{user._id}}/add">
						<i class="glyphicon glyphicon-envelope"></i>
					</a>
					 <a class="btn btn-primary" title='report this user' href="/#!/report/{{user._id}}">
						<i class="glyphicon glyphicon-eye-open"></i>
					</a>
		</div>
		</div>
	</div>
</section>

<section data-ng-controller="OfferingsController" data-ng-init="findByOther()">
    <div class="page-header">
        <h1>Their Offerings</h1>
    </div>
    <div class="list-group">

        <div data-ng-repeat="offering in otherofferings"  class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="offering.created | date:'medium'"></span>
			</small>
			<a href='/#!/offerings/{{offering._id}}'>
			<h4 class="list-group-item-heading" data-ng-bind="offering.name"></h4></a>
            <p data-ng-bind="offering.description"></p>
			<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == offering.user))">
				<a class="btn btn-primary" data-ng-href="/#!/offerings/{{offering._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				
				<a class="btn btn-primary" data-ng-repeat="user in offering.interested" ng-click="acceptOffer({{$index}},offering)">
		            Accept offer from: &nbsp<span data-ng-bind="user.displayName"></span> &nbsp
					<i class="glyphicon glyphicon-saved"></i>
				</a>
			</div>
            <p>&nbsp</p>
        </div>
    </div>
</section>