<section data-ng-controller="ThreadsController" data-ng-init="findOne()">
    <div class="page-header">
	<h3>topic</h3>
    </div>
<link rel="stylesheet" href="modules\threads\css\thread.css">
	<div class="panel panel-primary">
		<div class="panel-heading">{{thread.name}}</div>
		<div class="panel-body" style="overflow: auto;"> <span>{{thread.message}}
				
			<div class="pull-right" >
			<a class="btn btn-primary" title='edit this thread' data-ng-show="((authentication.user) && (authentication.user._id == thread.user._id))" href="/#!/threads/{{thread._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" title='delete this thread' data-ng-show="((authentication.user) && (authentication.user._id == thread.user._id))" data-ng-click="remove(post);">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
			<a class="btn btn-primary" title='write on this thread' href="/#!/threads/{{thread._id}}/add">
				<i class="glyphicon glyphicon-plus"></i>
			</a>
			</div>
			</span>
			<br>
				<small>
					<em class="text-muted">
						Posted on
						<span data-ng-bind="thread.created | date:'medium'"></span>
						by
						<span><a class='userprofilelink' href='/#!/users/profile/{{thread.user._id}}'>{{thread.user.displayName}}</a></span>
					</em>
				</small>
		</div>

	</div>

</section>
<section data-ng-controller="PostsController" data-ng-init="findOne2()">

	<div class='panel panel-primary'>
	
        <div data-ng-repeat="post in posts"  class="panel-body">
		<p class="list-group-item-heading" data-ng-bind="post.name"></p>
			<small class="list-group-item-text">
				<em class="text-muted">
					Posted on
					<span data-ng-bind="post.created | date:'medium'"></span>
					by
					<span><a class='userprofilelink' href='/#!/users/profile/{{post.user._id}}'>{{post.user.displayName}}</span>
				</em<
			</small>
			
			
			<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == post.user._id))">
				<a class="btn btn-primary" href="/#!/posts/{{post._id}}/edit">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				<a class="btn btn-primary" data-ng-click="remove(post);">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</div>
			
        </div>
		</div>

</section>
