<section data-ng-controller="MessagesController" data-ng-init="findconvo()">
	<!--<div class="page-header">
		<h1 data-ng-bind="message.name"></h1>
		<h1 data-ng-bind="message.body"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == message.user._id))">
		<a class="btn btn-primary" href="/#!/messages/{{message._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="message.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="message.user.displayName"></span>
		</em>
	</small>-->
	
		<div class="panel panel-default pull-left one" >
		  <div class="panel-body" style="overflow: auto;">
		
			<div data-ng-repeat="message in received" >
				<small >
					Posted on
					<span data-ng-bind="message.created | date:'medium'"></span>
					by
					<span><a class='userprofilelink' href='/#!/users/profile/{{message.user._id}}'>{{message.user.displayName}}</a></span>
				</small>
				<h4 class="list-group-item-heading" data-ng-bind="message.name"></h4>			
			</div>

		</div>
		</div>
			
		<div class="panel panel-default pull-right two">
		  <div class="panel-body" style="overflow: auto;">
		
			<div data-ng-repeat="message in sent" >
				<small>
					Posted on
					<span data-ng-bind="message.created | date:'medium'"></span>
					by
					<span><a class='userprofilelink' href='/#!/users/profile/{{message.user._id}}'>{{message.user.displayName}}</a></span>
				</small>
				<h4 class="list-group-item-heading" data-ng-bind="message.name"></h4>			
			</div>
    	</div>
		    <div class="panel-footer">
        <form class="form-horizontal" data-ng-submit="createreply()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">reply</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group" onclick="javascript:history.go(0)">
                    <input type="submit" class="btn btn-default" >
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
	</div>


</section>
